--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.fcc.gov/api/content/38837.json
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Last-Modified: 
      - Fri, 13 Apr 2012 11:45:53 GMT
      Content-Type: 
      - application/json
    body: 
      encoding: US-ASCII
      string: "{\"nid\":\"38837\",\"title\":\"WCB seeks comment on petitions for ETC designations\",\"created\":\"2012-04-10\",\"changed\":\"2012-04-11\",\"type\":\"edoc\",\"webUrl\":\"http:\\/\\/www.fcc.gov\\/document\\/wcb-seeks-comment-petitions-etc-designations\",\"taxonomy\":{\"7\":{\"tid\":\"7\",\"vid\":\"1\",\"name\":\"Wireline Competition\",\"description\":\"\",\"weight\":\"21\"},\"49\":{\"tid\":\"49\",\"vid\":\"4\",\"name\":\"Public Notice\",\"description\":\"\",\"weight\":\"49\"}},\"body\":\"<A name=1><\\/a><p><b>PUBLIC NOTICE<\\/b><\\/p>\\n<p><b>Federal Communications Commission<\\/b><\\/p>\\n<p><b>News Media Information 202 \\/ 418-0500<\\/b><\\/p>\\n<b>445 12th&nbsp;St., S.W.<\\/b><br \\/>\\n<p><b>Internet: http:\\/\\/www.fcc.gov<\\/b><\\/p>\\n<p><b>Washington, D.C. 20554<\\/b><\\/p>\\n<p><b>TTY: 1-888-835-5322<\\/b><\\/p>\\n<p><b>DA 12-566<\\/b><\\/p>\\n<p><b>Release Date: &nbsp;April 10, 2012<\\/b><\\/p>\\n<p><b>WIRELINE COMPETITION BUREAU SEEKS COMMENT ON PETITIONS FOR&nbsp;<\\/b><\\/p>\\n<p><b>DESIGNATION AS A LOW-INCOME ELIGIBLE TELECOMMUNICATIONS CARRIER&nbsp;<\\/b><\\/p>\\n<p><b>FILED BY T-MOBILE, KAJEET, TAG MOBILE, TELRITE AND GLOBAL CONNECTION&nbsp;<\\/b><\\/p>\\n<p[...]
